:root {
    --color-grey-1: #151515;
    --color-grey-2: #2c2c2c;
    --color-grey-3: #8a8a8a;
    --color-grey-4: #C1C1C1;
    --color-grey-5: #F2F2F2;
    --color-grey-6: #F6F6F6;

    --color-prim-1: #71afcd;
    --color-prim-2: #7dc2e4;
    --color-prim-3: #97cee9;
    --color-prim-4: #e5f3fa;
    --color-prim-5: #f2f9fc;

    --green-light: #F2FCF2;
    --green-dark: #B4FFB4;

    --red-light: #F4CBCB;
    --red-dark: #FF0000;
}